<h2>Your IP Address details.</h2>

<h4><b>IP Address: <%=request.remote_ip %></b></h4>
<h4>City: <%=@response['city']%></h4>
<h4>Country: <%=@response['country']%></h4>
<h4>Country Code: <%=@response['countryCode']%></h4>
<h4>region: <%=@response['region']%></h4>
<h4>Region Name: <%=@response['regionName']%></h4>
<h4>Zip Code: <%=@response['zip']%></h4>
<h4>Time Zone: <%=@response['timezone']%></h4>